<table class="table table-striped table-bordered table-hover">
    <thead><tr><th>ID</th> <th>模块名</th> <th>模块标题</th><th>数据文件</th><th>同步脚本文件</th><th>URL</th> <th>创建日期</th> <th>状态</th> <th>操作</th></tr></thead>
    <tbody id="box-tbody">
    </tbody>
</table>
<div id="loading" style="text-align: center">正在加载...</div>

<script type="text/mustache" id="tpl-table">
    [[#rows]]
    <tr>
        <td data-id="[[id]]">[[id]]</td>
        <td data-name="[[name]]">[[name]]</td>
        <td data-title="[[title]]">[[title]]</td>
        <td data-file="[[file]]">[[file]]</td>
        <td data-script="[[script]]">[[script]]</td>
        <td data-url="[[url]]">[[url]]</td>
        <td>[[createTime]]</td>
        <td data-state="[[state]]">
            [[#state]]<label class="label label-success">已启用</label>[[/state]]
            [[^state]]<label class="label label-default">已禁用</label>[[/state]]
        </td>
        <td>
            <button class="btn btn-sm btn-default" data-action="change-state">
                [[#state]]禁用[[/state]]
                [[^state]]启用[[/state]]
            </button>
            <button href="javascript:;" data-action="modular-edit" class="btn btn-sm btn-default"> 编辑</button>
        </td>
    </tr>
    [[/rows]]
</script>