<!doctype html>
<html lang="en"><head>
    {%include "tpl/base/css.html"%}
</head>
<body class=" theme-blue">
{%include "tpl/base/ie.html"%}

<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="" href="index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> 京东到家搜索运营平台</span></a></div>

    <div class="navbar-collapse collapse" style="height: 1px;">
        <ul id="main-menu" class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> {{user.username}} - {{user.roleName}}
                    <i class="fa fa-caret-down"></i>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="./">个人信息</a></li>
                    <!--<li class="divider"></li>-->
                    <!--<li class="dropdown-header">Admin Panel</li>-->
                    <!--<li><a href="./">Users</a></li>-->
                    <!--<li><a href="./">Security</a></li>-->
                    <!--<li><a tabindex="-1" href="./">Payments</a></li>-->
                    <!--<li class="divider"></li>-->
                    <li><a tabindex="-1" href="/logout">注销</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>
</div>


<div class="sidebar-nav">
    <ul>
        {%if m.user || m.role || m.modular%}
        <li><a href="#" data-target=".dashboard-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> 系统管理<i class="fa fa-collapse"></i></a></li>
        <li>
            <ul class="dashboard-menu nav nav-list collapse">
                {%if m.user%}
                <li class=""><a href="/user" target="main"><span class="fa fa-caret-right"></span> 用户管理</a></li>
                {%endif%}
                {%if m.role%}
                <li ><a href="/role" target="main"><span class="fa fa-caret-right"></span> 角色管理</a></li>
                {%endif%}
                {%if m.modular%}
                <li ><a href="/modular" target="main"><span class="fa fa-caret-right"></span> 模块管理</a></li>
                {%endif%}
                <!--<li ><a href="/log" target="main"><span class="fa fa-caret-right"></span> 系统日志</a></li>-->
            </ul>
        </li>
        {%endif%}
        {%if m.hotword%}
        <li><a href="#" data-target=".hotword-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-legal"></i> 热词管理<i class="fa fa-collapse"></i></a></li>
        <li>
            <ul class="hotword-menu nav nav-list collapse">
                {%if m.hotword%}
                <li ><a href="/hotword" target="main"><span class="fa fa-caret-right"></span> 热词管理</a></li>
                {%endif%}
            </ul>
        </li>
        {%endif%}

        <!--<li><a href="#" data-target=".hotword-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> 热词管理<i class="fa fa-collapse"></i></a></li>-->
        <!--<li>-->
            <!--<ul class="hotword-menu nav nav-list collapse in">-->
                <!--<li ><a href="/hotword" target="main"><span class="fa fa-caret-right"></span> 新增热词</a></li>-->
                <!--<li ><a href="/hotword/add" target="main"><span class="fa fa-caret-right"></span> 热词排序</a></li>-->
                <!--&lt;!&ndash;<li ><a href="/log" target="main"><span class="fa fa-caret-right"></span> 系统日志</a></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</li>-->
        <li data-popover="true" data-content="Items in this group require a <strong><a href='http://portnine.com/bootstrap-themes/aircraft' target='blank'>premium license</a><strong>." rel="popover" data-placement="right"><a href="#" data-target=".premium-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-fighter-jet"></i> Premium Features<i class="fa fa-collapse"></i></a></li>
        <li><ul class="premium-menu nav nav-list collapse">
            <li class="visible-xs visible-sm"><a href="#">- Premium features require a license -</a></span></li>
            <li ><a href="premium-profile.html"><span class="fa fa-caret-right"></span> Enhanced Profile</a></li>
            <li ><a href="premium-blog.html"><span class="fa fa-caret-right"></span> Blog</a></li>
            <li ><a href="premium-blog-item.html"><span class="fa fa-caret-right"></span> Blog Page</a></li>
            <li ><a href="premium-pricing-tables.html"><span class="fa fa-caret-right"></span> Pricing Tables</a></li>
            <li ><a href="premium-upgrade-account.html"><span class="fa fa-caret-right"></span> Upgrade Account</a></li>
            <li ><a href="premium-widgets.html"><span class="fa fa-caret-right"></span> Widgets</a></li>
            <li ><a href="premium-timeline.html"><span class="fa fa-caret-right"></span> Activity Timeline</a></li>
            <li ><a href="premium-users.html"><span class="fa fa-caret-right"></span> Enhanced Users List</a></li>
            <li ><a href="premium-media.html"><span class="fa fa-caret-right"></span> Enhanced Media</a></li>
            <li ><a href="premium-invoice.html"><span class="fa fa-caret-right"></span> Invoice</a></li>
            <li ><a href="premium-build.html"><span class="fa fa-caret-right"></span> Advanced Tools</a></li>
            <li ><a href="premium-colors.html"><span class="fa fa-caret-right"></span> Additional Color Themes</a></li>
        </ul></li>

        <li><a href="#" data-target=".accounts-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-briefcase"></i> Account <span class="label label-info">+3</span></a></li>
        <li><ul class="accounts-menu nav nav-list collapse">
            <li ><a href="sign-in.html"><span class="fa fa-caret-right"></span> Sign In</a></li>
            <li ><a href="sign-up.html"><span class="fa fa-caret-right"></span> Sign Up</a></li>
            <li ><a href="reset-password.html"><span class="fa fa-caret-right"></span> Reset Password</a></li>
        </ul></li>

        <li><a href="#" data-target=".legal-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-legal"></i> Legal<i class="fa fa-collapse"></i></a></li>
        <li><ul class="legal-menu nav nav-list collapse">
            <li ><a href="privacy-policy.html"><span class="fa fa-caret-right"></span> Privacy Policy</a></li>
            <li ><a href="terms-and-conditions.html"><span class="fa fa-caret-right"></span> Terms and Conditions</a></li>
        </ul></li>

        <li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Help</a></li>
        <li><a href="faq.html" class="nav-header"><i class="fa fa-fw fa-comment"></i> Faq</a></li>
        <li><a href="http://portnine.com/bootstrap-themes/aircraft" class="nav-header" target="blank"><i class="fa fa-fw fa-heart"></i> Get Premium</a></li>
    </ul>
</div>

<div class="main-box">
    <iframe class="main" name="main" src="/welcome" frameborder="no"></iframe>
</div>

{%include "tpl/base/js.html"%}
<script type="text/javascript">
    (function(){
        var $list = $('.sidebar-nav .nav-list > li');
        $list.click(function(){
            $list.removeClass('active');
            $(this).addClass('active');
        });
    })();
</script>
</body></html>
