<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="modal-edit-title">编辑角色</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label>角色名</label>
                        <input type="hidden" name="id">
                        <input type="text" class="form-control" name="name" value="">
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <select class="form-control" name="state">
                            <option value="">请选择状态</option>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                    <div class="box-modularList"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" data-action="modal-submit">提交</button>
            </div>
        </div>
    </div>
</div>

<script type="text/mustache" id="tpl-modularList">
    [[#rows]]
        <input type='checkbox' value="[[id]]">[[title]]
    [[/rows]]
</script>