<div id="form-query" class="form-inline" method="get">
    <div class="form-group">
        <label> 角色名：</label>
        <input type="text" value="" name="name" class="form-control">
    </div>

    <div class="form-group">
        <label> 状态：</label>
        <select class="form-control" name="state">
            <option value="">请选择状态</option>
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select>
    </div>
    <button id="form-query-btn" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
    <a href="#modal-add" data-toggle="modal" class="btn btn-success"><i class="fa fa-plus"></i> 新增</a>
</div>