<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-add-title">新增用户</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div data-action="modal-tip" class="alert alert-success alert-dismissible fade in" role="alert" style="display: none">
                        <button type="button" class="close" data-action="modal-tip-close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        新增成功
                    </div>
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" class="form-control" name="username" value="">
                    </div>
                    <div class="form-group">
                        <label>角色</label>
                        <select class="form-control box-group-select" name="group_id">
                            <option value="">请选择角色</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>状态</label>
                        <select class="form-control" name="state">
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" data-action="modal-submit">提交</button>
            </div>
        </div>
    </div>
</div>

<div class="modal small fade" id="modal-tip" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="modal-tip-title">重置密码</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="fa fa-warning modal-icon"></i>密码已重置！默认密码是88888888</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="modal-edit-title">编辑用户</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="hidden" name="id">
                        <input disabled="disabled" type="text" class="form-control" name="username" value="">
                    </div>
                    <div class="form-group">
                        <label>角色</label>
                        <select class="form-control box-group-select" name="group_id">
                            <option value="">请选择角色</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>状态</label>
                        <select class="form-control" name="state">
                            <option value="">请选择状态</option>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" data-action="modal-submit">提交</button>
            </div>
        </div>
    </div>
</div>
<script type="text/mustache" id="tpl-user-table">
    <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>角色</th>
        <th>创建日期</th>
        <th>最后登录</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    [[#rows]]
    <tr>
        <td data-id="[[id]]">[[id]]</td>
        <td data-username="[[username]]">[[username]]</td>
        <td data-group_name="[[group_name]]" data-group_id="[[group_id]]">[[group_name]]</td>
        <td>[[create_time]]</td>
        <td>
            [[#last_login_time]]  [[last_login_time]]  [[/last_login_time]]
            [[^last_login_time]]--[[/last_login_time]]
        </td>
        <td data-state="[[state]]">
            [[#state]]<label class="label label-success">已启用</label>[[/state]]
            [[^state]]<label class="label label-default">已禁用</label>[[/state]]
        </td>
        <td>
            <button class="btn btn-sm btn-default" data-action="change-state">
                [[#state]]禁用[[/state]]
                [[^state]]启用[[/state]]
            </button>
            <button href="javascript:;" data-action="user-edit" class="btn btn-sm btn-default"> 编辑</button>
            <button href="javascript:;" data-action="reset-password" class="btn btn-sm btn-default"> 重置密码</button>
        </td>
    </tr>
    [[/rows]]
    </tbody>
</table>

</script>

<script type="text/javascript">
    //查询条件初始化
    (function(){
        var username=Yi.getQuery('username')||'';
        var group_id = Yi.getQuery('group_id');
        var state = Yi.getQuery('state');
        var page = Yi.getQuery('page') || 1;

        var $formQuery = $('#form-query');
        var $username = $formQuery.find('[name=username]');
        var $group_id = $formQuery.find('[name=group_id]');
        var $state = $formQuery.find('[name=state]');
        console.log('group_id: ', group_id);
        $username.val(username);
        $group_id.val(group_id);
        $state.val(state);

        var $box = $('#box-user-table');
        $.ajax('/user/userList', {
            method: 'GET',
            data: {
                username: username,
                group_id: group_id,
                state: state,
                page: page
            }
        }).done(function (data) {
            if (data && data.code === 1) {
                for (var i = 0; i < data.rows.length; i++) {
                    if (data.rows[i]['create_time']) data.rows[i]['create_time'] = Yi.formatTime(data.rows[i]['create_time']);
                    if (data.rows[i]['last_login_time']) data.rows[i]['last_login_time'] = Yi.formatTime(data.rows[i]['last_login_time']);
                }
                $box.append(Mustache.render($('#tpl-user-table').html(), data));
            }
        });
    })();

    //新增
    (function(){
        var $modalAdd = $('#modal-add');
        var $submit = $modalAdd.find('[data-action=modal-submit]');
        var $username = $modalAdd.find('[name=username]');
        var $group_id = $modalAdd.find('[name=group_id]');
        var $state = $modalAdd.find('[name=state]');
        $submit.click(function(){
            var username = $username.val(), group_id = $group_id.val(), state = $state.val();
            $submit.attr('disabled', 'disabled');
            $.ajax('/user/userAdd', {
                method:'PUT',
                data:{
                    username:username,
                    group_id:group_id,
                    state:state
                }
            }).done(function(data){
                if(data && data.code === 1){
                    $('[data-action=modal-tip]').removeClass('alert-warning').addClass('alert-success').text('新增成功').fadeIn();
                }else{
                    $('[data-action=modal-tip]').removeClass('alert-success').addClass('alert-warning').text('新增失败').fadeIn();
                }
            }).always(function(){
                $submit.attr('disabled', false);
            });
        });

        $('[data-action="modal-tip-close"]').click(function(){
            $('[data-action=modal-tip]').fadeOut();
        });
    })();

    //编辑用户
    (function(){
        var $modalEdit = $('#modal-edit');
        var $submit = $modalEdit.find('[data-action=modal-submit]');
        var $id = $modalEdit.find('[name=id]');
        var $group_id = $modalEdit.find('[name=group_id]');
        var $state = $modalEdit.find('[name=state]');

        $submit.click(function(){
            var id = $id.val(), group_id = $group_id.val(), state = $state.val();
            $submit.attr('disabled', 'disabled');
            $.ajax('/user/userEdit', {
                method:'PUT',
                data:{
                    id:id,
                    group_id:group_id,
                    state:state
                }
            }).done().always(function(){
                $submit.attr('disabled', false);
                location.reload();
            });
        });
    })();

    //操作
    (function(){
        var $box = $('#box-user-table');
        $box.click(function(e){
            var $targetBtn = $(e.target);
            var dataAction = $targetBtn.attr('data-action');
            if(dataAction == "change-state"){
                changeState($targetBtn)
            }else if(dataAction == 'reset-password'){
                resetPassword($targetBtn);
            }else if(dataAction == 'user-edit'){
                userEdit($targetBtn);
            }
        });

        function changeState($targetBtn){
            var $tr = $targetBtn.closest('tr');
            var $id = $tr.find('[data-id]');
            var $state = $tr.find('[data-state]');

            var id = $id.attr('data-id');
            var state = parseInt($state.attr('data-state')) == 0 ? 1:0;

            $targetBtn.attr('disabled', 'disabled');
            $.ajax('/user/userState',{
                method:'PUT',
                data:{
                    id:id,
                    state:state
                }
            }).done(function(data){
                if(data && data.code == 1){
                    $state.attr('data-state', state);
                    if(state){
                        $state.find('label').removeClass('label-default').addClass('label-success').text('已启用');
                        $targetBtn.text('禁用');
                    }else{
                        $state.find('label').removeClass('label-success').addClass('label-default').text('已禁用');
                        $targetBtn.text('启用');
                    }
                }
            }).always(function(data){
                console.log('data: ', data);
                $targetBtn.attr('disabled', false);
            });
        }

        function resetPassword($targetBtn){
            var $tr = $targetBtn.closest('tr');
            var $id = $tr.find('[data-id]');
            var id = $id.attr('data-id');
            $.ajax('/user/userPassword',{
                method:'PUT',
                data:{
                    id:id
                }
            }).done(function(data){
                $('#modal-tip').modal('show');
            }).always(function(data){
                console.log('data: ', data);
                $targetBtn.attr('disabled', false);
            });
        }

        function userEdit($targetBtn){
            var $tr = $targetBtn.closest('tr');
            var $tr_id = $tr.find('[data-id]');
            var $tr_username = $tr.find('[data-username]')
            var $tr_group_id = $tr.find('[data-group_id]');
            var $tr_state = $tr.find('[data-state]');


            var $modalEdit = $('#modal-edit');
            var $id = $modalEdit.find('[name=id]');
            var $username = $modalEdit.find('[name=username]');
            var $group_id = $modalEdit.find('[name=group_id]');
            var $state = $modalEdit.find('[name=state]');

            $id.val($tr_id.attr('data-id'));
            $username.val($tr_username.attr('data-username'));
            $group_id.val($tr_group_id.attr('data-group_id'));
            $state.val($tr_state.attr('data-state'));

            $('#modal-edit').modal('show');
        }
    })();

</script>