<table class="table table-striped table-bordered table-hover">
    <thead><tr>
        <th style="width: 40px;"><input type="checkbox"></th><th>ID</th> <th style="width: 80px;">热词</th><th style="width: 80px;">热词类型</th><th style="width: 100px;">展示顺序</th>
        <th>商户ID</th><th>门店ID</th><th>创建时间</th><th>修改时间</th><th>生效时间</th><th>过期时间</th></tr>
    </thead>
    <tbody id="box-tbody">
    </tbody>
</table>
<div id="loading" style="text-align: center">正在加载...</div>
<style type="text/css">
    .sort_num_edit{
        display:inline-block;
        width: 20px;;
    }
    .sort_text{
        display: none;
    }
</style>
<script type="text/mustache" id="tpl-table">
    [[#rows]]
    <tr>
        <td><input type="checkbox" class='keywords-checkbox' data-id=[[id]]></td>
        <td data-id="[[id]]">[[id]]</td>
        <td data-keywords="[[keywords]]"><label class="label label-info">[[keywords]]</label></td>
        <td data-intervention="[[intervention]]">
            [[#isXitong]]<label class="label label-primary">系统热词</label>[[/isXitong]]
            [[#isRengong]]<label class="label label-success">人工热词</label>[[/isRengong]]
            [[#isPingbi]]<label class="label label-default">屏蔽热词</label>[[/isPingbi]]
        </td>
        [[#isPingbi]]<td>--</td>[[/isPingbi]]
        [[^isPingbi]]
            <td data-sort_num="[[sort_num]]" data-id=[[id]]>
                <span class="sort_num">[[sort_num]]</span>
                <input type="text" class="form-control sort_text" value="[[sort_num]]">
            </td>
        [[/isPingbi]]

        <td data-org_code="[[org_code]]">[[org_code]]</td>
        <td data-store_id="[[store_id]]">[[store_id]]</td>
        <td>[[create_time]]</td>
        <td>[[modify_time]]</td>
        <td>[[effective_time]]</td>
        <td>[[expire_time]]</td>
    </tr>
    [[/rows]]
</script>