<form id="form-query" class="form-inline" onclick="return false;">
    <div class="form-group">
        <label> 热词类型：</label>
        <select class="form-control" name="intervention">
            <option value="">全部热词</option>
            <option value="1">人工热词</option>
            <option value="0">系统挖掘热词</option>
            <option value="2">屏蔽热词</option>
        </select>
    </div>
    <div class="form-group">
        <label> 热词：</label>
        <input type="text" value="" name="keywords" class="form-control">
    </div>
    <div class="form-group">
        <label> orgcode：</label>
        <input type="text" value="" name="org_code" class="form-control">
    </div>
    <div class="form-group">
        <label> 门店ID：</label>
        <input type="text" value="" name="store_id" class="form-control">
    </div>
    <button id="form-query-btn" class="btn btn-success"><i class="fa fa-search"></i> 查询</button>
    <input type="reset"  class="btn btn-primary" onclick="this.form.reset()" value="清空">
</form>
<div id="form-tools" class="form-inline" style="margin-top: 20px;">
    <a href="#modal-add" data-toggle="modal" class="btn btn-success"><i class="fa fa-plus"></i> 新增热词</a>
    <button data-action="change-intervention-2" class="btn btn-warning">改为屏蔽热词</button>
    <button data-action="delete-words" class="btn btn-danger">删除选中</button>
    <a href="javascript:;" data-toggle="modal" class="btn btn-info"><i class="fa fa-plus"></i> 导出excel</a>
    <button data-action="publish" class="btn btn-danger pull-right">&nbsp;&nbsp;发&nbsp;&nbsp;布&nbsp;&nbsp;</button>
</div>