<!doctype html>
<html lang="en">
<head>
    {%include "../tpl/base/css.html"%}
    {%include "../tpl/base/js.html"%}
</head>
<body class=" theme-blue">
{%include "../tpl/base/ie.html"%}
<div class="content">
    <div class="header">
        <h1 class="page-title">用户管理 <button class="label label-success pull-right" style="font-size: 12px;padding: 6px 15px;border:none" onclick="location.reload()">刷 新</button></h1>

    </div>
    <div class="main-content">
        <div class="btn-toolbar list-toolbar">
            {%include "./toolbar.html"%}
            <hr>
            {%include "./table.html"%}
        </div>
    </div>
</div>
<!--前端用户列表模板-->
{%include "./addModal.html"%}
{%include "./editModal.html"%}
{%include "./tipModal.html"%}
{%include "./role.html"%}
<script type="text/javascript" src="/js/user.js"></script>
</body>
</html>
