<table class="table table-striped table-bordered table-hover">
    <thead><tr><th>ID</th> <th>用户名</th> <th>角色</th> <th>创建日期</th> <th>状态</th> <th>操作</th></tr></thead>
    <tbody id="box-tbody">
    </tbody>
</table>
<div id="loading" style="text-align: center">正在加载...</div>

<script type="text/mustache" id="tpl-table">
    [[#rows]]
    <tr>
        <td data-id="[[id]]">[[id]]</td>
        <td data-username="[[username]]">[[username]]</td>
        <td data-roleName="[[roleName]]" data-roleId="[[roleId]]">[[roleName]]</td>
        <td>[[createTime]]</td>
        <td data-state="[[state]]">
            [[#state]]<label class="label label-success">已启用</label>[[/state]]
            [[^state]]<label class="label label-default">已禁用</label>[[/state]]
        </td>
        <td>
            <button class="btn btn-sm btn-default" data-action="change-state">
                [[#state]]禁用[[/state]]
                [[^state]]启用[[/state]]
            </button>
            <button href="javascript:;" data-action="user-edit" class="btn btn-sm btn-default"> 编辑</button>
            <button href="javascript:;" data-action="reset-password" class="btn btn-sm btn-default"> 重置密码</button>
        </td>
    </tr>
    [[/rows]]
</script>

<script type="text/javascript">
    $(function(){

    });    
</script>