<script type="text/mustache" id="tpl-group-select">
    [[#rows]]
    <option value="[[id]]">[[name]]</option>
    [[/rows]]
</script>
<script type="text/javascript">
    $.ajax('/group/groupList',{
        method:"GET"
    }).done(function(data){
        if(data &&data.code === 1){
            console.log($('#tpl-group-select').html());
            console.log(Mustache.render($('#tpl-group-select').html(), data));
            $('.box-group-select').append(Mustache.render($('#tpl-group-select').html(), data));
        }
    });
</script>