<script type="text/mustache" id="tpl-module-select">
    [[#rows]]
    <option value="1">管理员</option>
    [[/rows]]
</script>
<script type="text/javascript">
    $.ajax('/modules/modulesList',{
        method:"GET"
    }).done(function(data){
        if(data &&data.code === 1){
            $('.box-module-select').append(Mustache.render($('#tpl-module-select').html(), data.rows));
        }
    });
</script>