<div class="row">
    <div id="hotclass-auto" class="col-md-6">
        <table class="table table-striped table-bordered table-hover">
            <caption><h2 class="pull-left"><span style="color: red" class="keyword"></span>自动挖掘热门类目</h2></caption>
            <thead><tr><th>关键词</th> <th>热门类目ID</th> <th>热门类目名称</th> <th>分值</th> <th>操作</th></tr></thead>
            <tbody class="box-tbody">
            </tbody>
        </table>
        <div class="loading" style="text-align: center;display: none;">正在加载...</div>
    </div>
    <div id="hotclass-rg" class="col-md-6">
        <table class="table table-striped table-bordered table-hover">
            <caption><h2 class="pull-left"><span style="color: red" class="keyword"></span>人工配置热门类目<span style="color: red;font-size: 14px">(双击分值单元格进行修改)</span></h2>
                <button class="btn btn-success pull-right" data-action="action-add" style="margin-top: 10px;"><i class="fa fa-plus"></i> 新增</button>
            </caption>
            <thead><tr><th>关键词</th> <th>热门类目ID</th> <th>热门类目名称</th> <th>分值</th> <th>操作</th></tr></thead>
            <tbody class="box-tbody">
            </tbody>
        </table>
        <div class="loading" style="text-align: center;display: none">正在加载...</div>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">失效时间：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="expireTime" placeholder="yyyy-mm-dd">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">当前状态：</label>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled" class="form-control" name="keyword-state" value="--" >
                </div>
            </div>
            <div class="form-footer">
                <button class="btn btn-primary" data-action="modal-submit">&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                <button data-action="publish" class="btn btn-danger">&nbsp;&nbsp;发&nbsp;&nbsp;布&nbsp;&nbsp;</button>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>


<script type="text/mustache" id="tpl-auto">
    [[#rows]]
    <tr>
        <td data-keyword="[[keyword]]">[[keyword]]</td>
        <td data-hotclassId="[[hotclassId]]">[[hotclassId]]</td>
        <td data-hotclassName="[[hotclassName]]">[[hotclassName]]</td>
        <td data-score="[[score]]">[[score]]</td>
        <td style="height:47px;">
            <input type="checkbox" data-action="action-choose">
        </td>
    </tr>
    [[/rows]]
</script>
<style type="text/css">
    .box-dblclick{
        /*position: relative;*/
    }
    .label-dblclick{
        /*display: block;*/
        /*position: absolute;*/
        /*top: 0;right:0;bottom:0;left:0;*/
    }
</style>
<script type="text/mustache" id="tpl-rg">
    [[#rows]]
    <tr>
        <td data-keyword="[[keyword]]">[[keyword]]</td>
        <td data-hotclassId="[[hotclassId]]" class="box-dblclick">
            <span class="hotclassId-label label-dblclick">[[hotclassId]]</span>
            <input type="text" class="form-control hotclassId-input input-dblclick" style="display:none" value="[[hotclassId]]">
        </td>
        <td data-hotclassName="[[hotclassName]]">[[hotclassName]]</td>
        <td data-score="[[score]]" class="box-dblclick">
            <span class="score-label label-dblclick">[[score]]</span>
            <input type="text" class="form-control score-input input-dblclick" style="display:none" value="[[score]]">
        <td>
            <button href="javascript:;" data-action="action-delete" class="btn btn-sm btn-default"> 删除</button>
        </td>
    </tr>
    [[/rows]]
</script>

<script type="text/mustache" id="tpl-rg-tr">
   <tr>
        <td data-keyword="[[keyword]]">[[keyword]]</td>
        <td data-hotclassId="[[hotclassId]]" class="box-dblclick">
            <span class="hotclassId-label label-dblclick">[[hotclassId]]</span>
            <input type="text" class="form-control hotclassId-input input-dblclick" style="display:none" value="[[hotclassId]]">
        </td>
        <td data-hotclassName="[[hotclassName]]">[[hotclassName]]</td>
        <td data-score="[[score]]" class="box-dblclick">
            <span class="score-label label-dblclick">[[score]]</span>
            <input type="text" class="form-control score-input input-dblclick" style="display:none" value="[[score]]">
        <td>
            <button href="javascript:;" data-action="action-delete" class="btn btn-sm btn-default"> 删除</button>
        </td>
    </tr>
</script>

<script type="text/javascript" src="/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/lib/bootstrap-datepicker/bootstrap-datepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap-datepicker/bootstrap-datepicker.css">
<script type="text/javascript">
    $('[name=expireTime]').datepicker({
        format: "yyyy-mm-dd",
        language: "zh-CN"
    });
</script>
