<div id="form-query" class="form-inline" method="get">
    <div class="form-group">
        <label> 请输入关键词：</label>
        <input type="text" value="" name="keyword" class="form-control">
    </div>
    <button id="form-query-btn" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
    <!--<a href="#modal-add" data-toggle="modal" class="btn btn-success"><i class="fa fa-plus"></i> 新增</a>-->
</div>
